.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footercontent{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.left ,.right, .centre{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.left li, .right li, .centre li{
    list-style: none;
    margin-bottom: 10px;

}
.right h2, .centre h2{
    color: white;
}
.social img{
width: 40px;
margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
}
.logo{
    height: 9vh;
    width: 20vh;
}
@media(max-width:750px)
{
    .footercontent{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .copyright{
        text-align: center;
    }
}