.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
width: 150px;
}
.navbarmenu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbarright{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.navbarsearch{
    position: relative;
}
.navbarsearch .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbarprofile{
    position: relative;
        right: 0;
        z-index: 1;
}
.navbarprofile:hover .navdropdown{
display: flex;
flex-direction: column;
gap: 10px;
background-color: #fff2ef;
padding: 12px 25px;
border-radius: 4px;
border: 1px solid tomato;
outline: 2px solid white;
list-style: none;

}
.navdropdown li{
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;

}
.navdropdown{
    position: absolute;
    display: none;

}
.navdropdown img{
    width: 20px;
}
.navdropdown li:hover{
    color: tomato;

}
@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
.navbarmenu{
    gap: 20px;
    font-size: 17px;
}
.navbarright{
    gap: 30px;
}
.navbarright img{
    width: 22px;
}
.navbarright button{
    padding: 8px 25px;
}
}
@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
.navbarmenu{
    gap: 15px;
    font-size: 16px;
}
.navbarright{
    gap: 20px;
}
.navbarright img{
    width: 20px;
}
.navbarright button{
    padding: 7px 20px;
    font-size: 15px;
}
}
@media (max-width:750px){
   .navbarmenu{
    display: none;
   }
}