.myorders{
    margin: 50px 0px;
    
}
.myorders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    
}
.myordersorder{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 3fr 1fr;
    align-items: center;
    gap: 150px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    
}
.myordersorder img{
    width: 50px;
}
.myordersorder p span{
    color: tomato;
}
.myordersorder p b{
    font-weight: 540;
    color: #454545;

}
.myordersorder button{
    width: 100px;
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #ffe1e1e1;
    cursor: pointer;
    color: #454545;
        
}
@media(max-width:900px){
    .myordersorder{
        grid-template-columns:  1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .myordersorder button{
        font-size: 10px;
    }
}
